node_modules
.idea
ChannelAdvisorP1.csv
/logs/*

# Byte-compiled / optimized / DLL files
pycache/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

src/javascript/calculatePrice/calculatePrice.js

src/json/singleSKU.json
src/json/bulkSKU.json
src/json/access_token.json

run.sh
